  @media screen and (max-width: 600px) {
      .container {
          height: 100%;
          width: 100%;
      }
      #map {
          bottom: 0px;
          height: 55%;
          left: 0px;
          position: absolute;
          right: 0px;
          background-color: grey;
      }
      #side-bar {
          background: #fff;
          border-right: 0px solid #999;
          border-radius: 0px;
          height: 45%;
          line-height: 20px;
          padding: 10px 10px 10px 10px;
          text-align: left;
          width: 100%;
          display: inline-block;
      }
      #locations {
          width: 100%;
      }
      .flickr-img {
          text-align: center;
          height: 50px;
          width: 50px;
          padding: 2px;
      }
  }